html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* #app-container {
  background: radial-gradient(#e3daff54, #32156a57)
}

.MutiBox-root {
  backdrop-filter: blur(59px);
} */

.react-jinke-music-player-main {
  position: absolute;
  z-index: 2000;
}
.react-jinke-music-player-main .music-player-panel {
  background: url(https://github.com/kenmingwang/azusa-player/blob/master/public/img/bg3.png?raw=true)
    no-repeat;
  width: 100%;
  background-size: cover;
}
.react-jinke-music-player-main .music-player-panel .panel-content .img-content {
  background-position-y: center;
  background-position-x: center;
  background-size: 160%;
}

::-webkit-scrollbar {
  width: "14px";
  height: "18px";
  background: "transparent";
}

::-webkit-scrollbar-thumb {
  height: "29px";
  border: "5px solid rgba(0, 0, 0, 0)";
  background-clip: "padding-box";
  border-radius: "7px";
  -webkit-border-radius: "7px";
  background-color: "#c6acfc";
}

#FavTable {
  box-shadow: -4px 5px 6px 2px rgb(166 88 249 / 20%),
    4px -3px 2px 0px rgb(166 88 249 / 20%), 1px 1px 0px 2px rgb(0 0 0 / 12%);
}
